 
.oculus_banner {
    background-image: url(../images/banner_bg.png);
    background-position: top right;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    background-size: 77%;
    overflow: hidden;
}

.oculus_banner .banner_box {
    max-width: 50%;
    position: relative;
    top: 176px;
}

.oculus_banner .heading1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    line-height: 73px;
    letter-spacing: 0;
    color: #94157E;
    margin-bottom: 47px;
    margin-top: 58px;
    font-weight: 500;
}

.oculus_banner .ang_logo {
    margin-bottom: 53px;
}


.oculus_banner .btn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #B9005769;
    border-radius: 13px;
    opacity: 0.8;
    padding: 4px 5px;
}

.oculus_banner .btn span{
    border: 0.5px dashed #DF2A6A;
    border-radius: 13px;
    /*opacity: 0.8;*/
    text-align: center;
    font: Bold 29px/60px Nunito Sans;
    letter-spacing: 0;
    color: #E12673;
    padding: 10px 25px;
    color: #E12673;
}

.oculus_banner img.mobile_image {
    position: absolute;
    right: 263px;
    bottom: -213px;
    width: 454px;
}

.oculus_banner .btn span svg {
    margin-right: 8px;
    margin-top: -3px;
}

@media all and (max-width: 1366px) {

    .oculus_banner .banner_box {
        top: 160px;
    }

    .oculus_banner {
        background-position: 102% -5px;
     }

    .oculus_banner .heading1 {
        font-size: 58px;
        line-height: 50px;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .oculus_banner .ang_logo {
        margin-bottom: 20px;
        max-width: 110px;
    }

    .oculus_banner .btn span {
        font: Bold 20px/48px Nunito Sans;
     }

    .oculus_banner img.mobile_image {
        right: 177px;
        bottom: -185px;
        width: 329px;
    }
}


@media all and (max-width: 1024px) { 

    .oculus_banner {
        background-size: 100%;
    }

    .oculus_banner .banner_box {
        top: 43%;
        bottom: 0;
    }

    .oculus_banner img.mobile_image {
        bottom: -43px;
    }
}


@media all and (max-width: 768px) {
    .oculus_banner {
        background-size: 1197px;
        background-position: -419px -5px;
    }

    .oculus_banner img.mobile_image {
        bottom: 100px;
        right: calc(50% - 178px);
    }

    .oculus_banner .banner_box {
        max-width: 100%;
        top: 100px;
    }

    .oculus_banner .heading1 {
        color: #fff;
        text-shadow: 0 0px 1px #000;
    }

    .oculus_banner .btn {
        opacity: 1;
        position: fixed;
        bottom: 66px;
        z-index: 6;
        left: calc(50% - 118.5px);
    }

    .oculus_banner .ang_logo {
        display: none;
    }

    .oculus_banner .ang_logo.d-none {
        display: inline-block !important;
    }

    .oculus_banner .heading1 {
        margin-bottom: 46px;
    }
}

@media all and (max-width: 500px) {

    .oculus_banner {
        background-size: 100%;
        background-position: center -5px;
    }

    .oculus_banner img.mobile_image {
       display: none;
    }

    .oculus_banner .heading1 {
        margin-bottom: 46px;
        color: #94157E;
        text-shadow: none;
        margin-top: 154px;
    }

    .oculus_banner .btn {
        position: static;
    }

    .oculus_banner .ang_logo {
        display: inline-block;
    }

    .oculus_banner .ang_logo.d-none {
        display: none !important;
    }
}


@media all and (max-width: 400px) {
    .oculus_banner .heading1 {
        margin-top: 130px;
        margin-bottom: 34px;
    }
}